        *{
            margin: 0;
            padding: 0;
            box-sizing: border-box;
            font-family: 'Poppins', 'sans-serif';
        }
        body{
            background-color: #b7c6d2;
            display: flex;
            justify-content: center;
            align-items: center;
        }
        .container{
            margin: 100px 20px 20px 20px;
            max-width: 900px;
            background-color: #FAF1E6;
            border-radius: 25px;
            padding: 25px;
            box-shadow: 0px 0px 4px rgb(0, 0, 0);
        }
        .head{
            display: flex;
            justify-content: space-evenly;
            align-items: center;
            background-color: #1f2833;
            color: #fff;
            padding: 20px;
            border-radius: 30px;
            box-shadow: 0 0 5px rgba(0,0,0,0.9);
        }


        .total-expense{
            padding: 2px;
        }

        .expense-box{
            margin: 40px 0 0 0;
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
        }
        #expense-form input{
            padding: 10px;
            border-radius: 10px;
            margin: 5px;
            width: 200px;
           
        }
        .expense-btn{
            margin: 5px;
            height: 48px;
            width: 150px;
            
        }
        .delete-btn{
            margin: 5px;
            height: 38px;
            width: 130px;
            border-radius: 15px;
        }
        .expense-info{
            display: flex;
            align-items: center;
            background-color: #DFD0B8;
            padding: 0 10px 0 10px;
            border-radius: 15px;
            margin-top: 15px;
        }
         .expense-info div{
            display: flex;
            justify-content: center;
            align-items: center;
            font-size: 20px;
            font-weight: 500;
            width: 200px;
            height: 48px;
            margin: 5px;
            padding: 10px;
        }
        button:hover {
            transform: scale(1.05);
            transition: all 0.3s ease-in-out;
        }

        