*{
    margin: 0;
    padding: 0;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
body{
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
h1{
    text-align: center;
    width: 100%;
    font-size: 3rem;
    color: #fff;
    background-color: #232f3e;
    padding: 20px;
}
.container{
    height: 100%;
    width: 100%;
    min-width: 310px;
    display: flex;
    justify-content: center;
   
    flex-direction: column;
}
.options{
    height: 30%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
   
}
.options button{
    height: 60%;
    width: 10%;
    border-radius: 50%;
    margin: 1.2rem;
    border: none;
}
.options button:hover{
    transform: translate(0.98);
    border: 2px solid black;
    box-shadow: 0px 0px 10px black;
}
.options .rpc img{
    height: 100%;
    width: 100%;
    border-radius: 50%;
    cursor: pointer;
}

.scorebox{
    height: 25%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
    font-weight: 800;
    
}
.scorebox .num{
    height: 50%;
    width: 30%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.scorebox .name{
    height: 50%;
    width: 30%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.resultbox{
    height: 15rem;
    width: 100%;
    box-sizing: border-box;
    display: none;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
    font-weight: 800;
    line-height: 3rem;
    margin: 1rem;
}
.resultbox p{
    background-color: green;
    color: #fff;
    border-radius: 0.8rem;
    padding: 1.2rem;
}
.resultbox #result:hover{
    box-shadow: 0px 0px 5px black;
}
#reset{
    border: none;
    background-color: #232f3e;
    color: #fff;
    font-size: 2rem;
    font-weight: 800;
    height: 6.2rem;
    padding: 1.2rem;
    border-radius: 10px;
    margin: 10px;
    cursor: pointer;
}
#reset:hover{
    box-shadow: 0px 0px 6px black;
    transform: scale(0.9);
    transition: ease;
}
@media screen and (max-width: 800px){
    body,html{
        height: 70vh;
        font-size: 12px;
        display: flex;
        justify-content: center;
    }
    .options button{
    height: 60%;
    width: 20%;
    border-radius: 50%;
    border: none; 
}


}